*{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #eee;
}
header{
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
}
header img{
    width: 40ex;
    padding: 20px;
}
section{
    padding: 30px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    background: #fff;
    margin: 10px;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid #d3cdcd;
}

form button{
    padding: 10px;
    margin: 10px;
    background: #333fff;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.1s;
}
button:hover{
    transform: scale(1.1);
}
form h4{
    color: #595959;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

footer{
    padding: 30px;
}
footer button{
    color: #555;
    
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #555;
    width: 100%;
    cursor: pointer;
}
footer h3{
    color: #777;
    align-items: center;
    text-align: center;
}
footer ul{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: #777;
}